@import url('https://fonts.googleapis.com/css?family=Orbitron:900&display=swap');

html, body{
  height: 100%;
  background-color: #303338;
  background-repeat: no-repeat;
}

h1 {
  text-align:  center; 
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 6px 9px black;
  color: #BF0426;
}

.left { 
  margin-left: 10%;
}

.right {
  padding-left: 12%;
}

.card-title { 
  text-align: center;
}

.btn {
  width: 100%;
}

